#navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: gray;
    color: rgba(98,80,60);
    font-family: "Poiret One", cursive "sans serif";
    font-size: 2rem;
    position:sticky;
    margin:0;
    
    
  
    
    
    
    
  }
  .navlink-item {
    display:flex;
    margin-right: 20px;
    align-content:flex-end;
    text-decoration:none;
    color: black;
  
    
  }
  .navlink-item:hover {
    background-color:blueviolet;
  }
  
  ul {
    
    display:flex;
    list-style-type: none;
  }
  #welcome-section{
      font-family:Georgia, 'Times New Roman', Times, serif;
      font-size: 4rem;
      color:black;
      
  }
  .subheading{
      font-family: 'Courier New', Courier, monospace;
      font-size:4rem;
      color:black;
      
  }
  #pic{
    border-radius: 14%;
    border-style: block;
    width:200px;
    display:flex;
    float:right;
    
    
    
    
    
  }
    .one{
      display:flex;
      flex-direction: row;
      justify-content: safe;
  color: black;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-size: 2rem;
      
      
      
      
      
      
    }
    
  

  #welcome-section{
    height:100%
  }
  @media(max-width:300px){
  body{
    background-color:blue
  }
  }
  .contact{
    list-style-type:none;
    font-size:bold;
    
    display:flex;
    flex-direction: row;
    justify-content: safe;
     font-family: monospace;
    margin-right: 90px;
    text-decoration:none;
  }
  
  
    
    
    

  html{
    scroll-behavior: smooth;
  }
  body{
    text-decoration:none;
  }
  #projects{
    text-decoration: none;
  }
  #profile-link{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    color: black;
  }
  .project-tile{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    color: black;

  }
  .end{
    font-size:3rem;
    font-family: monospace;
    
    
  
    
    
  }