        body {
            margin: 0;
            font-family: "Times New Roman", Times, serif;
        }
        
        #navbar {
            position: fixed;
            top: 0;
            width: 100%;
            height: 80px;
            display: flex;
            background-color: black;
        }
        
        #welcome {
            background-image: url('../images/image1.png');
            background-size: cover;
            display: flex;
            background-size: cover;
            font-size: 20px;
            align-items: center;
            justify-content: center;
            height: 100vh;
            overflow: hidden;
            color: white;
            margin-bottom: 40px;
        }
        
        #about {
            color: white;
            margin-bottom: 40px;
            padding: 5px 10em 5px 8em;
        }
        
        #my-projects {
            display: flex;
            background: azure;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 400px;
        }
        
        #contact {
            margin: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: #656D6E;
            height: fit-content;
            width: 100%;
            color: white;
        }
        
        span {
            font-weight: bold;
            margin-left: 80px;
        }
        
        p {
            font-size: 20px;
        }
        
        h3 {
            text-align: center;
        }
        
        ul {
            list-style-type: none;
            display: block;
            width: 100%;
            padding: 5px;
            text-align: right;
            font-family: "Times New Roman", Times, serif;
            font-size: 20px;
        }
        
        ul li {
            display: inline-flex;
        }
        
        li a {
            display: flex;
            padding: 10px 10px;
            text-decoration: none;
            font-size: 25px;
            padding-right: 30px;
            color: white;
        }
        
        li a:hover {
            color: red;
        }
        
        a {
            text-decoration: none;
            text-align: center;
            color: black;
            display: flexbox;
            border-radius: 10px;
            padding: 5px;
        }
        
        .row {
            display: flex;
            align-items: center;
        }
        
        .column {
            float: right;
            width: 50%;
            text-align: center;
        }
        
        .row::after {
            content: "";
            clear: both;
            display: table;
        }
        
        img {
            border-radius: 30%;
        }
        
        .intro {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
        .content {
            display: flex;
            flex-wrap: wrap;
            margin-left: 2%;
        }
        
        .item {
            text-align: justify;
            float: left;
            width: 30%;
            padding: 0 30px;
            text-align: justify;
            margin-right: 10px;
            padding: 10px;
        }
        
        .item:hover {
            opacity: 0.7;
        }
        
        .content a {
            font-size: larger;
            font-weight: bold;
            font-style: italic;
            color: blue;
        }
        
        .content::after {
            content: "";
            clear: both;
            display: table;
        }
        
        @media screen and (max-width: 500px) {
            .content {
                width: 100%;
            }
        }
        
        .contact-item {
            float: left;
            margin-right: 50px;
            padding: 10px;
        }
        
        .contact-item img:hover {
            opacity: 0.5;
        }
        
        footer {
            bottom: 0;
        }
        
        .footer-content {
            display: flex;
            color: white;
            background-color: #656D6E;
            height: 150px;
            justify-content: center;
            align-items: flex-end;
            width: 100%;
            font-size: 15px;
        }
        
        .footer-content P {
            display: inline-flex;
        }
        
        .footer-content span {
            align-self: flex-end;
        }